<h1>Divisions</h1>

<p>Here are all the divisions:</p>

<ul>
  <% @divisions.each do |division| %>
  <li><a href="/divisions/<%= division.id() %>"><%= division.department %></a></li>
  <% end %>
</ul>

<p>Create a new division:</p>

<form action='/divisions' method='post'>
  <label for='department'>Description</label>
  <input id='department' name='department' type='text'>

  <button type="submit">Add department</button>
</form>
